@font-face {
  font-family: "Helvetica Light";
  src: url("./font/HelveticaLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Light";
  background: linear-gradient(to top left, #e0e1dd , #adb5bd 75%);
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
}
