.calculation-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 300px; /* Adjust the width as per your requirement */
  margin: auto;
}

.form-container .MuiTextField-root {
  width: 100%;
  margin-bottom: 15px; /* This adds space between each TextField */
}

.form-container .MuiSelect-root {
  width: 100%;
  margin-bottom: 15px;
}

.form-container .MuiFormControl-root {
  width: 100%;
  margin-bottom: 15px; /* Adds space between each FormControl/Select */
}
