.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #6c757d;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar-right {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  padding-right: 4rem;
}


.navbar-menu {
  display: flex;
  gap: 1rem;
}

.nav-button {
  font-size: 18px;
  color: #dee2e6;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.nav-button:focus,
.nav-button:hover {
  color: #fff;
}

.nav-button:focus:after,
.nav-button:hover:after {
  width: 100%;
  left: 0%;
}

.nav-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.navbar-logo {
  width: 3rem;
  height: auto;
  margin-right: 2rem;
  margin-left: 1rem;
  filter: invert();
}

.navbar-title {
  margin-right: 3rem;
  color: #dee2e6; 
}
